language: java
jdk:
- oraclejdk8

install: true

script: mvn install

deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: YUVOX4hNRL7YRuf6ouzq1u2w/KQxB6N/f4Mvkjj46umXIZH0/K7A71lM9fWbt578EZluym3V9ZrKk9Y4CsFabl2wXrk6OPfJ8UTirWv7s+pOrg2tNpi+M/gfoVAlCcc/vsQbJmnR7D+J19qXQQ7BsK+z3gQL+O53xWnsL8GEsroL9yrt5whcMKxrBRoSpabqIYvY/C0LpczGDm5AuGQmdWvuajlChn/Q/iFxva/NvhTRWBHJMuohddM3wIPLR2+gjZS4DVLPiB2YgUJG+DjVI4Tjo0e6mjClKQf8NMOiZJa7+IwUV8OtebZBsVW5E6/hNGT5NrSkRlagZQM90LkLTsQdEIW72dlFizFJsR2Ew9vxV44Orws2yW4It4JGoG0pChoCRvvtX2SZRaOUjqNwFiZ+sD16cKdx5zaUxi3eXVOP68rWkNcUp9s0XfqZcNRt2iyDEw/Lvb0YxLARdyiPJi4RyUPRJqe0Eq1RuCOLxE5cg66xOOAL5owHq7O6mkS//0/qSD2xlUj1xioQI/iKC9DAjtzyz/ItVws10SCk0GEYgLNEuolbwmWWJa3sbTyu9LqQBeCpQyKGxE8b9ODix0LqHVkn1POd0t7gW4FFN3lOG810ntENtDnFPZh02BAB81MSVTYCv65Sz6BmTvNXmB+upU1NYOHb/x88SGtnOiE=
  file: target/app.jar
  on:
    repo: davinkevin/Docker-Travis-SpringBoot
    tags: true
