language: java

jdk:
- oraclejdk8

install: true

env:
  global:
  - secure: h0/i65KuemTdggQlL/0fo26x/jZf5Z3q3RIPWp6QXse0RFIk0dtEQhVg4eAvvhe1QRUujlfRWOir2qvVAGKLiw/RJVbSLk1lDpya44zVotP2bpMwirCjlDfjuYm4vXmdn6yDYH+1O2H23QW0NDLSGXKevS6agwbDGJE2eoxHKwheW58v1+vWmjOIbFl44EN9/d9NNCpGPin8y0JrIeMsAMheXD6hJAPv7Gkv5jMLNOxER+/vvPBGFc29LmbwL54oKCdufHlUu93pJVFKxtgMw1Kacqiai+EyRNwwcpWuIR2SdpcRMmtX65SU7WgmxZJ2Oix8ev5iJxW+XM6xt6Cph1TyykVH/ROMSqBZ3uTddUSKvKJpNymnOfkxq7Ol6qhvmMPcKa1oCGAG6xgnYkurnx0LOc+ewyG3kzcsFXfEuW7zE1vb1ppD2vwizLg1cMancxHe+GlFWnEPSIpWDJ/q8vUAYjHkUTHr2gNBu83SByUYfJYJlvY+nFbyCqb7gGa1CMP3/Z339ANZvK834rpzlaPO0MyW4F7/KYTK8yN9/IYqSenkt07E4UERAmjvFm3QD8Gp5sKoDaZRM5kH7RRECmHMq5BjKjFPkJ3PnV+FcEsv9sG12CL2wHQaw1mrMCzO86qLYV8BAadB3vY0OiH8UYFQovzQlnv/vpBRkjHSX2M=
  - secure: Hmn/SzmSYLGRGeXsE16esNfkIExK2ElCZxuDruzc4RjFsRVmEVjK+NsH8yqqWzlu75MPW1+DlCPb+3xumfY2XgAgGAhIaTpd2nDmDvyrz6TteNp39uJPRo4w+NxbQr23btYfhBLyNVId9GfgvM2JrBmM8iI6XHwnyWmr1XlLhkFR14otxlGXP6ZdGgjkZwaltu5S9O1JAbixw4O7VG1bn3YpqoWBdE7zmYWEebfXtcaLTVJ5W5h3xhCk3sla1rvJfcF8md6jUlIz9ERugeEINXNlFczIIjwBqWOA6R5ERzzxqLe+mMgVOf4OnOOEMhFLNLlAPeboSZigT+rW4witaElSXjl79cFn+zGCayhB72nd8MZQ9k/T3hRr14d4P8FC0HY7q+dVqAmG8DE5gCSYgZAFYCR20Zyo3B5Y5LtZ6Uf0N9KddywHYxHyYEIcZin9hVeLo2LrBCPmdhRVPex/yJv1l28EDTl77KBFr4XIYTlNBNyagJgJ0Nhd1O9AnBW1vD1gdDuF5eqwwtKasHdHo0cB9RyvoxVP9LGwW6e7C/vPk8gg5ible/pziq0zZ8cXxFL2kly9MDSTMB1fjZvAagCC/Drbb31gjfJfVsJsB7g1MhJU4Zeqc3KBZKAz1N9/wqUCLqhE7v9v5SwHFnDQT65XRkJrOaaAE7p/IeHKQpg=
  - secure: W4KMbxoxypjTsuA4v6/n2yP62v2W7cNzEJt19zCdcWxNVraUZ6huYUFUajPjt1wYoSInYAsHfZ+Om/ku/lXgvIn0aPypGwZ+1QiR00Uwbbcv64Ac+a+tvHw5KdaKd62fKVelrwhtZBzg/8Wo8koDizAtvIzjHUX0Bv70uMpC7hf+mwipJthRSBSAL+b6XCkRT58Dn2XyLdkEfkOrotAbQIcKb9bRJDqMS5JJBekjdXrr8OrbuTZvNtnjDVVHP972d0gXMKgJh/DRhD1OyldtoN7RVzpjgYF1pdyfhWUu+7QZyDJr0p4rcfGk67JUgYY+WHqnhEk4/ZVkDTd0YUCVCMAYmUuapqEWa4TYJihZSjCPBBWaI6fyyPEmtEn1TmLo8Ty4iD35wEwZIJ6xXErohQbbbrGJZFl/cdOTeI69DTCe73R7GIeO6tuyugWuCT0U22+k06ovKHmAbSZadtOWky38SjAunOpDe50tgqCy7IBFs7+vONcoLlOMzqUXB0UJHz+5w+1kWsBfE6Hr1nrsEf11FnWuxOmQlbwACaMuwXJHIjLcK361y/5/4yYSST+2G+G+QYX4KeooDgKvVaT/OIbvLOnKyv0DGiUkE0jElI9TMQ0jB0QwWRsm0qxAHlz07oSyvl02YNywsJkSNnyf3HEKJQhW324VzGUhATiZJxg=

script: mvn install

deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: YUVOX4hNRL7YRuf6ouzq1u2w/KQxB6N/f4Mvkjj46umXIZH0/K7A71lM9fWbt578EZluym3V9ZrKk9Y4CsFabl2wXrk6OPfJ8UTirWv7s+pOrg2tNpi+M/gfoVAlCcc/vsQbJmnR7D+J19qXQQ7BsK+z3gQL+O53xWnsL8GEsroL9yrt5whcMKxrBRoSpabqIYvY/C0LpczGDm5AuGQmdWvuajlChn/Q/iFxva/NvhTRWBHJMuohddM3wIPLR2+gjZS4DVLPiB2YgUJG+DjVI4Tjo0e6mjClKQf8NMOiZJa7+IwUV8OtebZBsVW5E6/hNGT5NrSkRlagZQM90LkLTsQdEIW72dlFizFJsR2Ew9vxV44Orws2yW4It4JGoG0pChoCRvvtX2SZRaOUjqNwFiZ+sD16cKdx5zaUxi3eXVOP68rWkNcUp9s0XfqZcNRt2iyDEw/Lvb0YxLARdyiPJi4RyUPRJqe0Eq1RuCOLxE5cg66xOOAL5owHq7O6mkS//0/qSD2xlUj1xioQI/iKC9DAjtzyz/ItVws10SCk0GEYgLNEuolbwmWWJa3sbTyu9LqQBeCpQyKGxE8b9ODix0LqHVkn1POd0t7gW4FFN3lOG810ntENtDnFPZh02BAB81MSVTYCv65Sz6BmTvNXmB+upU1NYOHb/x88SGtnOiE=
  file: target/app.jar
  on:
    repo: davinkevin/Docker-Travis-SpringBoot
    tags: true

after_deploy:
  - docker login -e $DOCKER_EMAIL -u $DOCKER_USER -p $DOCKER_PASS
  - docker push davinkevin/poc-docker-travis

