language: java

jdk:
- oraclejdk8

sudo: required

services:
- docker

install: true

script: mvn install

deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: YUVOX4hNRL7YRuf6ouzq1u2w/KQxB6N/f4Mvkjj46umXIZH0/K7A71lM9fWbt578EZluym3V9ZrKk9Y4CsFabl2wXrk6OPfJ8UTirWv7s+pOrg2tNpi+M/gfoVAlCcc/vsQbJmnR7D+J19qXQQ7BsK+z3gQL+O53xWnsL8GEsroL9yrt5whcMKxrBRoSpabqIYvY/C0LpczGDm5AuGQmdWvuajlChn/Q/iFxva/NvhTRWBHJMuohddM3wIPLR2+gjZS4DVLPiB2YgUJG+DjVI4Tjo0e6mjClKQf8NMOiZJa7+IwUV8OtebZBsVW5E6/hNGT5NrSkRlagZQM90LkLTsQdEIW72dlFizFJsR2Ew9vxV44Orws2yW4It4JGoG0pChoCRvvtX2SZRaOUjqNwFiZ+sD16cKdx5zaUxi3eXVOP68rWkNcUp9s0XfqZcNRt2iyDEw/Lvb0YxLARdyiPJi4RyUPRJqe0Eq1RuCOLxE5cg66xOOAL5owHq7O6mkS//0/qSD2xlUj1xioQI/iKC9DAjtzyz/ItVws10SCk0GEYgLNEuolbwmWWJa3sbTyu9LqQBeCpQyKGxE8b9ODix0LqHVkn1POd0t7gW4FFN3lOG810ntENtDnFPZh02BAB81MSVTYCv65Sz6BmTvNXmB+upU1NYOHb/x88SGtnOiE=
  file: target/app.jar
  on:
    repo: davinkevin/Docker-Travis-SpringBoot
    tags: true

after_deploy:
- docker login -e $DOCKER_EMAIL -u $DOCKER_USER -p $DOCKER_PASS
- docker images
- docker push docker.io/davinkevin/poc-docker-travis

env:
  global:
  - secure: LOsxir7PpeVsurm0VA2lJYqJf1+aD9M4myl+CqJ5XXPR0hixchZHAARKkR+0vlDBgGDzJZTsibQotNHOZ0wZWIRReNZt7+JwQ5lZtXkL7l3lcwoDlVQOkFs1inLWqvR+LPCJ7/pu6yrtCrtoUCzsTA8+3mO53qM/wwa7nsyCA2ondgnD+zxdxcCIqOs6Sjw79bpUntwuTk1TZy9dNJL8cbLBw12H8e3AZmmIxbxhwtutdb4XAabgl4SaNOTM6Q/IW+8POy5AeP4RZQpqH64ravhYzcY19iBk8/RIXp+StMV32XdOMj7EzMuNIsYLUCpRiEKv+wWHpBubwZ3WZb622YbwCK63uXI7924MKa+mSjIMQ23f/bPKmE2iMgnQFaHb6+eP2VEReEkH3xk9TkNoGXMZ+kvD53i4PQMFJEPg365s4VvTfXMBWwr4imrI3fwmRoSm3ybTRVepsqTxhdmRw/4L9Iy3uRem1b+hl4QSyUIk/4+jN52JAkDMEVfpXotDY67Ybzwax/TbopAE3YnDJskgddrnbddMuTOPyyoO40qwqw3PjGNx9FbLiTwEWrDUlBgSNWXbt8kxDYVDs/hZIZaPjpWjx2lW6HfkmEpdwfrQuIy5BaliYDMnCBuZWVuSR0JFLvq/DO2LHn84cXNwcyORy8n106AlWxogjErQCVk=
  - secure: hICyeryGWEqBob04R5DGo5eTygxxRaBSZdt6avEZdmuteuCCiS8XF+vlaZKJAID+qyQj2FzX4L2miihJ/pQ4S+yG5uy0k65A2ZwR9wm30V/o9114ltanE0xoEv3QrYMz01WFaBf1U5fc6piXo4be81zUpc4CqKHfFWCG8thVCHiG7BdIkCFibhZd2k0Da4/g5LHY9e8ZQR6HwwOnt5+/fYWeWnwt0HcGnZJepu5eEpq3IDdHcU7WdRD9mXTVpGeOsjCPGbFvHGKkfTl9QLAg/BzAsPQaCQ1Rbeue6dNYMztLtxnrsiaJJO/fgOs9+QVTEDAJ0l4m0dIbi/wMS1Bl8B031JGEccg7FCJtT68+KJAojlwFeoDPvPYXcQjxVbIFCbMfcN2DhzjlWg0ZH20g0HzHcbl+OAVmLfZCJlK7LoMvu9M/OOV+/D1kIAhnT0qf1fvEsHXiiqbGj2q3qXYgEKdaXHzeiVeiFmYcgKKjgEzcZHT74fIpc4uq4fA+QAcVav4TCXd3BHJGo9sNoTb359ij6Z4g+bKNBXRmjrZ0nUOzCc4sgxOoqjJeCvwdqhbZzLduOSrZ78Dk1xWqh2lMJdvszPZBHO7ZzplmYojvmictfG4DQKlN9v2LFmx7/L2/aZsTprcQdRsLDS65BZ9//JA5MaP4o9XQXSqHDtHGjIU=
  - secure: s8idU4youpf7Tb0Es3VhFet/Ht66iH6EuBIMArGLZlX7QgyOdpz/njhPxvq/3zO34uKaDh2L7VxHd+L9kqm9H42oEjG9xKiVE0rXafdfOQfagxESoQB1ymRKo/QJDvCmD1DeObENYgVx3RjIxErXd+u3IaW5wEVd3sJaptAk9L8Ygz/pn3RTAq7m0eSFxWSqvTP1/0ZhaDtXhllkNDGGSIDABougWrJob6IasPA4YliN/PGpWZg7eTVMp+cRsrnsfhzkMYHEIPq0tzSrk96kBVv8G2PzNmtGD+IvPaI5XM03AXnXCiU3w1l+B+mwmMQ9qwGxRvbdaIfcs1gDbVIlKgNlcPb5ij8wokRwhv7IrSdPirFq0sUmZoUmGWpXz51VS+/Tt7VDe47KFDldh24Zi/HWR+lIeuqX9jtvBR9rKSc5pO+9Io4C+OEjYEmyhiYdu5R8uhkUOD7tukMOCdDG7JAIrcF7TNcueDmxsluA/tY/tTTB27pPeHuSPCq33jAEpxQjlM0mZsSyghRI+lv+lhR7Ovoh73foE/9zAmNppIR7oxAW2N0GCEN9JKLK1ScKv7c92GUHQoriYZCL0kI1jX3tQcH3UnJqQ+xkhkdgUeUNCRg46wX9wK5pIiTSytBxZs8KqJOy+u8+oRUNMaRIZ9Vo1lla3ihqiYcBlmIXwKc=
